<ui-view>
    <div class="row" ng-show="error">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">激活学期已结束或未开始</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>学期名:{{semester.name}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" method="get">
                <label>选择周次：</label>
                <select name="weekOrder" ng-model="query.weekOrder" class="form-control" ng-change="reload()">
                    <option ng-repeat="weekorder in query.weekOrders" ng-value="weekorder.weekOrder">{{weekorder.name}}</option>
                </select>
            </form>
        </div>
        <div class="col-md-6 col-md-push-2">
            <span  class="badge bacRed">请假</span>&nbsp;
            <span  class="badge bacGreen">有课</span>&nbsp;
            <span  class="badge bacBlue">无课</span>&nbsp;
            <span  class="badge bacBlack">休息</span>&nbsp;
        </div>
    </div>
    <br>
    <table class="table table-bordered table-condensed">
        <tr>
            <th class="tableWeekOrder">周次</th>
            <th class="tableCenter">第一节</th>
            <th class="tableCenter">第二节</th>
            <th class="tableCenter">第三节</th>
            <th class="tableCenter">第四节</th>
            <th class="tableCenter">第五节</th>
        </tr>
        <tr ng-repeat="(key, value) in schedules">
            <td class="tableWeekOrder">{{key + 1 | weekFiltration}}</td>
            <td ng-repeat="schedule in value track by $index">
                <p ng-class="{true: 'bacGreen', false: 'bg-primary'}[student._state]" ng-repeat="student in schedule.students" class="tableStudent"><a href="#!/student/edit/{{student.id}}">{{student.name}}</a></p>
            </td>
        </tr>
    </table>
    <button type="button" ng-click="random()" class="btn btn-default">随机推送</button>
</ui-view>
<style type="text/css">
.tableCenter {
    text-align: center;
}

.tableWeekOrder {
    background-color: #fafafa;
    text-align: center;
}

.bacRed {
    background-color: red;
}

.bacGreen {
    background-color: green;

}

.bacBlue {
    background-color: #337ab7;

}

.bacBlack {
    background-color: black;
}

.tableStudent {
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.tableStudent a:link,a:visited {
    color: white; 
}
</style>
