<ui-view>
    <div class="alert alert-warning" role="alert" ng-if="currentSemester == null">未添加学期或未激活一个学期</div>
    <h4>当前激活学期:{{currentSemester.name}}</h4>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <form class="form-inline" ng-submit="find()">
                <semester-list ng-model="query.selectSemester"></semester-list>
                <input class="form-control" type="text" name="CourseName" placeholder="课程名..." ng-model="query.name">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                    &nbsp;查找
                </button>
            </form>
        </div>
        <div class="col-md-4 text-right">
            <a href="#!/course/add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
            <button ng-click="deleteMultiple()" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除选中项</button>
        </div>
    </div>
    <br />
    <table class="table table-hover table-bordered" ng-if="data.content != null && data.content.length != 0">
        <tr align="center" class="info">
            <td><input type="checkbox" ng-model="selectAllOrNot" ng-click="select()"></td>
            <td>序号</td>
            <td>课程名</td>
            <td>操作</td>
        </tr>
        <tr align="center" ng-repeat="(key,_list) in data.content | orderBy: '-id'" >
            <td><input type="checkbox" ng-model="_list._checked" /></td>
            <td>{{key + 1}}</td>
            <td>{{_list.name}}</td>
            <td>
                <a class="btn btn-sm btn-primary glyphicon glyphicon-time" href="#!/course/selectSchedule/{{_list.id}}">&nbsp;选时</a>
                <a class="btn btn-sm btn-default glyphicon glyphicon-pencil" href="#!/course/edit/{{_list.id}}">&nbsp;编辑</a>
            </td>
        </tr>
    </table>
    <div class="alert alert-info" role="alert" ng-if="data.content.length == 0 || data.content == null">请尝试增加课程或激活一个学期来显示数据</div> 
    <yunzhi-page number="data.number" total-pages="data.totalPages" reload-page="reloadByPage" first="data.first" last="data.last"></yunzhi-page>
</ui-view>
