<ui-view>
    <div class="alert alert-warning" role="alert" ng-if="currentSemester == null">未选择学期且未激活一个学期</div>
    <h4>当前激活学期:{{currentSemester.name}}</h4>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <form class="form-inline" ng-submit="findBySemesterIdAndName()">
                <semester-list ng-model="query.selectSemester"></semester-list>
                <input class="form-control" type="text" name="CourseName" placeholder="课程名..." ng-model="query.name">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                    &nbsp;查找
                </button>
            </form>
        </div>
        <div class="col-md-4 text-right">
            <a href="#!/course/add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
            <button ng-click="deleteMultiple()" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除选中项</button>
        </div>
    </div>
    <br />
    <table class="table table-hover table-bordered">
        <tr align="center" class="info">
            <td><input type="checkbox" ng-model="selectAllOrNot" ng-click="select()"></td>
            <td>序号</td>
            <td>课程名</td>
            <td>操作</td>
        </tr>
        <tr align="center" ng-repeat="(key,_list) in data.content | orderBy: '-id'" >
            <td><input type="checkbox" ng-model="_list._checked" /></td>
            <td>{{_list.id}}</td>
            <td>{{_list.name}}</td>
            <td>
                <a class="btn btn-sm btn-primary glyphicon glyphicon-time" href="#!/course/selectSchedule/{{_list.id}}">&nbsp;选时</a>
                <a class="btn btn-sm btn-default glyphicon glyphicon-pencil" href="#!/course/edit/{{_list.id}}">&nbsp;编辑</a>
            </td>
        </tr>
    </table>
    <yunzhi-page data-total-pages="data.totalPages" data-number="data.number" data-reload="reloadByPage"></yunzhi-page>
</ui-view>
