<ui-view>
    <div class="row">
        <div class="col-md-8">
            <form class="form-inline">
                <input class="form-control" type="text" name="CourseName" placeholder="课程名..." value="">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                    &nbsp;查找
                </button>
            </form>
        </div>
        <div class="col-md-4 text-right">
            <a href="#!/course/add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
            <button ng-click="deleteMultiple()" class="btn btn-danger">删除选中项</button>
        </div>
    </div>
    <br />
    <table class="table table-hover table-bordered">
        <tr align="center" class="info">
            <td><input type="checkbox" ng-model="all" ng-click="selectAll(!all)" >全选{{all}}</td>
            <td>序号</td>
            <td>课程名</td>
            <td>操作</td>
        </tr>
        <tr align="center" ng-repeat="(key,_list) in data.content | orderBy: '-id'" >
            <td><input type="checkbox" ng-checked="all" ng-true-value="{{_list}}" ng-false-value="{{null}}" ng-model="array[key]" /></td>
            <td>{{_list.id}}</td>
            <td>{{_list.name}}</td>
            <td>
                <a class="btn btn-sm btn-primary glyphicon glyphicon-facetime-video" href="#!/course/view/{{_list.id}}">&nbsp查看</a>
                <a class="btn btn-sm btn-default glyphicon glyphicon-pencil" href="#!/course/edit/{{_list.id}}">&nbsp;编辑</a>
                <!-- <button class="btn btn-danger btn-sm glyphicon glyphicon-trash" ng-click="delete(_course)">&nbsp;删除</button> -->
            </td>
        </tr>
    </table>
    <pre>{{array | json}}</pre>
    <yunzhi-page data-total-pages="data.totalPages" data-number="data.number" data-reload="reloadByPage"></yunzhi-page>
</ui-view>
