<h2 class="text-center">{{data.name}}</h2>
<hr>
<table class="table table-bordered table-hover table-striped">
    <tr align="center" class="info">
        <td>星期\节次</td>
        <td>第一节</td>
        <td>第二节</td>
        <td>第三节</td>
        <td>第四节</td>
        <td>第五节</td>
    </tr>
    <tr ng-repeat="(key1, week) in form">
        <td class="text-center">{{key1 + 1 | weekFiltration}}</td>
        <td ng-repeat="(key2, node) in week" class="text-center">
            <a ng-class="{0:'btn btn-success glyphicon glyphicon-plus'}[node.length]" class="btn btn-default" href="#!/course/selectWeekOrder?courseId={{data.id}}&semesterId={{data.semester.id}}&week={{key1 + 1}}&node={{key2 + 1}}">{{node | arrayWithoutBrackets}}</a>
        </td>
    </tr>
</table>
