<h2 class="text-center">{{data.name}}</h2>
<hr>
<table class="table table-bordered table-hover table-striped">
    <tr align="center" class="info">
        <td>星期\节次</td>
        <td>第一节</td>
        <td>第二节</td>
        <td>第三节</td>
        <td>第四节</td>
        <td>第五节</td>
    </tr>
    <tr>
        <td>星期一</td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(1, 1)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(1, 2)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(1, 3)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(1, 4)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(1, 5)"></a></td>
    </tr>
    <tr>
        <td>星期二</td>
         <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(2, 1)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(2, 2)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(2, 3)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(2, 4)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(2, 5)"></a></td>
    </tr>
    <tr>
        <td>星期三</td>
         <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(3, 1)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(3, 2)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(3, 3)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(3, 4)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(3, 5)"></a></td>
    </tr>
    <tr>
        <td>星期四</td>
         <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(4, 1)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(4, 2)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(4, 3)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(4, 4)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(4, 5)"></a></td>
    </tr>
    <tr>
        <td>星期五</td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(5, 1)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(5, 2)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(5, 3)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(5, 4)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(5, 5)"></a></td>
    </tr>
    <tr>
        <td>星期六</td>
         <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(6, 1)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(6, 2)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(6, 3)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(6, 4)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(6, 5)"></a></td>
    </tr>
    <tr>
        <td>星期日</td>
         <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(7, 1)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(7, 2)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(7, 3)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(7, 4)"></a></td>
        <td class="text-center"><a class="btn btn-success glyphicon glyphicon-plus" ng-click="toSelectWeekOrder(7, 5)"></a></td>
    </tr>
</table>
