<ui-view>
    <div>
        <h1 style="text-align: center">贡献值详细信息 - {{studentName}}</h1>
    </div>
    <hr/>
    <table class="table table-hover table-bordered">
        <tr align="center" class="info">
            <td>序号</td>
            <td>时间</td>
            <td>标题</td>
            <td>pull request</td>
            <td>贡献值</td>
            <td>备注</td>
        </tr>
        <tr align="center" ng-repeat="_contribution in contributionInformations |orderBy: '-id'">
            <td>{{$index + 1}}</td>
            <td>{{_contribution.time | timeFormat}}</td>
            <td>{{_contribution.title}}</td>
            <td ng-bind-html="_contribution.pullRequest | pullRequestFormat"></td>
            <td>{{_contribution.value}}</td>
            <td>{{_contribution.remarks}}</td>
        </tr>
    </table>
    <yunzhi-page data-total-pages="data.totalPages" data-number="data.number" data-reload="reloadByPage"></yunzhi-page>
</ui-view>
