<ui-view>
    <div class="row">
        <form class="form-inline" method="get">
            <div class="col-md-6">
                <label>周次：</label>
                <input type="" name="week" class="form-control" placeholder="显示当前周次">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
            </div>
            <div class="col-md-6 col-md-push-2">
                <span style="background-color: red" class="badge">请假</span>&nbsp;
                <span style="background-color: green;" class="badge">有课</span>&nbsp;
                <span style="background-color: blue;" class="badge">无课</span>&nbsp;
                <span style="background-color: black;" class="badge">休息</span>&nbsp;
            </div>
        </form>
    </div>
    <br>
    <table class="table table-bordered table-hover table-striped">
        <tr align="center" class="info">
            <td>周次</td>
            <td>第一节</td>
            <td>第二节</td>
            <td>第三节</td>
            <td>第四节</td>
            <td>第五节</td>
        </tr>
        <tr>
            <td>星期一</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>星期二</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>星期三</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>星期四</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>星期五</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>星期六</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>星期日</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</ui-view>
