<ui-view>
    <div class="row">
        <div class="col-md-8">
            <form class="form-inline" ng-submit="findByName()">
                <input class="form-control" type="text" name="semesterName" placeholder="学期名..." ng-model="query.name">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                    &nbsp;查找
                </button>
            </form>
        </div>
        <div class="col-md-4 text-right">
            <a ng-href="#!/semester/add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
        </div>
    </div>
    <br />
    <table class="table table-hover table-bordered">
        <tr align="center" class="info">
            <td>序号</td>
            <td>学期名称</td>
            <td>起始时间</td>
            <td>结束时间</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <tr align="center" ng-repeat="(key, semester) in page.content|orderBy: '-id'">
            <td>{{key + 1}}</td>
            <td>{{semester.name}}</td>
            <td>{{semester.startTime | timeFormat}}</td>
            <td>{{semester.endTime | timeFormat}}</td>
            <td><mark>{{semester.status | semesterStatus}}</mark></td>
            <td>
                <button type="button" ng-class="{'btn btn-default btn-sm glyphicon glyphicon-off': true, 'btn-primary disabled': semester.status}"  ng-click="active(semester)">&nbsp;{{semester.status | semesterActive}}</button>
                <a class="btn btn-sm btn-primary glyphicon glyphicon-pencil" ng-href="#!/semester/edit/{{semester.id}}">&nbsp;编辑</a>
                <button class="btn btn-danger btn-sm glyphicon glyphicon-trash" ng-click="delete(semester)">&nbsp;删除</button>
            </td>
        </tr>
    </table>
    <yunzhi-page number="page.number" total-pages="page.totalPages" reload-page="reloadByPage" first="page.first" last="page.last"></yunzhi-page>
    <pre>{{page | json}}</pre>
</ui-view>
