<ui-view>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <input name="name" type="text" class="form-control" placeholder="姓名..." value="">
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
            </form>
        </div>
        <div class="col-md-6 text-right">
            <a href="#!/student/add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-hover table-striped">
        <tr align="center" class="info">
            <td>序号</td>
            <td>姓名</td>
            <td>电话</td>
            <td>贡献值系数</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <tr align="center" ng-repeat="_student in students | orderBy:'-id'">
            <td>{{$index + 1}}</td>
            <td>{{_student.name}}</td>
            <td>{{_student.phoneNumber}}</td>
            <td>{{_student.contributionCoefficient}}</td>
            <td>
                <span ng-class="{true:'label label-success',false:'label label-default'}[_student.state]">&nbsp;{{_student.state | stateFilter}}</span>
            </td>
            <td>
                <a class="btn btn-sm btn-primary glyphicon glyphicon-pencil" href="#!/student/edit/{{_student.id}}">&nbsp;编辑</a>

                <a class="btn btn-sm btn-success glyphicon glyphicon-list-alt" href="#!/student/view/{{_student.id}}">&nbsp;选课</a>

                <button type="button" ng-class="{true:'btn btn-sm btn-info glyphicon glyphicon glyphicon-ok-sign',false:'btn btn-sm btn-warning glyphicon glyphicon glyphicon-remove-sign'}[_student.state]" ng-click="changeState(_student)">&nbsp;{{_student.state | operateFilter}}</button>
                
                <button class="btn btn-danger btn-sm glyphicon glyphicon-trash" ng-click="delete(_student)">&nbsp;删除</button>
        </tr>
    </table>
    </div>
</ui-view>
