<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-default" ng-click="selectCourse()">保存</button>
    </div>
</div>
<br />
<table class="table table-hover table-bordered">
    <tr align="center" class="info">
        <td><input type="checkbox" ng-model="selectAllOrNot" ng-click="select()"></td>
        <td>序号</td>
        <td>课程名</td>
    </tr>
    <tr align="center" ng-repeat="_course in data | orderBy: '-id'">
        <td>
            <input type="checkbox" ng-model="_course._checked" />
        </td>
        <td>{{$index + 1}}</td>
        <td>{{_course.name}}</td>
    </tr>
</table>
<yunzhi-page data-total-pages="data.totalPages" data-number="data.number" data-reload="reloadByPage"></yunzhi-page>
